nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f3fdee4;
  color: #fff;
  height: 120px;
}

.logo {
  font-size: 35px;
  padding-left: 1.5em;
}

.write-new-tweet {
  display: flex;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  padding-right: 1.5em;
}

.write-new-tweet span {
  margin-bottom: 5px;
}

.write-new-tweet .fas {
  color: #ee1414;
  font-size: 24px;
}